<mat-dialog-content>
    <div class="dialog-container">
        <h1>Apagar a Tarefa?</h1>
        <div class="button-container">
            <button (click)="onCancel()" class="cancel">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
            <button mat-button (click)="onSave()" class="accept">
                <span class="material-symbols-outlined">
                    check
                </span>
            </button>
        </div>
    </div>
</mat-dialog-content>