:root{

    --primary: #14b572;
    --primary-010: #1cd488;

    --blue-background:#1541bd ;

    --red:#bf0e0e;
    --red-010:#e64545;

    --orange:#de6412;
    --orange-010: #f59556;

    --black: #000000;
    --black-grey:#1E1A1D;

    --grey: #DDD;
    --white: #ffffff;
    --white-010: #f3f3f3;
}